body {
  background-color: #00ffff;
}

.player {
  font-size: 18px;
  color: #ff00ff;
}

.match {
  color: #ff0000;
  font-size: 44px;
  font-weight: bold;
}

.versusMarker {
  font-size: 24px;
  color: #000ff0;
}